.header {
    .round1 {
        position: absolute;
        float: right;
        top: -350px;
        right: -200px;
        height: 1000px;
        width: 1000px;
        background-color: $bg-color-2;
        border-radius: 1000px;
    }
    .nav {
        position: fixed;
        z-index: 120;
        width: 100%;
        font-size: $font-size;
        color: $text-color-1;
        text-align: center;
        ul {
            float: right;
        }
        li {
            float: left;
            padding: 2px 15px 3px 15px;
            margin: 18px 0 17px 0;
            a:hover,
            a:active {
                color: rgba(111, 111, 111, 0.5);
            }
        }
    }
    .logo {
        position: absolute;
        top: 350px;
        left: 140px;
        text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.16);
    }
    .dragon {
        position: absolute;
        float: right;
        top: 30px;
        right: 0px;
        height: 686px;
        width: 654px;
        background: url('../images/jaydragon.png');
    }
    .slide {
        margin: 0 auto;
        clear: both;
        position: relative;
        top: 700px;
        height: 29px;
        width: 81px;
        img {
            transition: all 0.1s;
        }
        img:hover {
            position: relative;
            top: 10px;
        }
    }
}

.bgbox1 {
    position: absolute;
    top: 850px;
    left: -100px;
    height: 700px;
    width: 700px;
    background-color: $bg-color-2;
    transform: rotate(45deg);
}

.bgbox2 {
    position: absolute;
    top: 1050px;
    right: -80px;
    height: 1000px;
    width: 1000px;
    background-color: #ffcc33;
    transform: rotate(45deg);
}

.sline {
    position: relative;
    top: 800px;
    margin: 0 auto;
    clear: both;
    height: 1164px;
    width: 7px;
    background: #cc9966;
}

.hline {
    position: relative;
    margin: 0 auto;
    height: 3px;
    width: 130px;
    background: #cc9966;
}

.hline1 {
    top: -200px;
}

.hline4 {
    top: -400px;
}

.hline2,
.hline3 {
    top: -300px;
}

.hline1,
.hline3 {
    left: -65px;
}

.card {
    height: 250px;
    width: 500px;
    padding: 15px;
    img {
        height: 220px;
    }
    h2 {
        width: 250px;
        margin: 0 15px 0;
        padding: 10px 0 0 0;
    }
    ul {
        width: 200px;
        margin: 15px;
    }
}

.service1 {
    top: -320px;
}

.service4 {
    top: -550px;
}

.service2,
.service3 {
    top: -450px;
}

.service1,
.service3 {
    position: relative;
    margin: 0 auto;
    left: -380px;
    img {
        float: right;
    }
    h2,
    ul {
        float: right;
        text-align: right;
    }
}

.hline2,
.hline4 {
    left: 65px;
}

.service2,
.service4 {
    position: relative;
    margin: 0 auto;
    left: 380px;
    img {
        float: left;
    }
    h2,
    ul {
        float: left;
        text-align: left;
    }
}

.bgbox3 {
    position: absolute;
    left: 70px;
    top: 2100px;
    height: 1280px;
    width: 1280px;
    background-color: $text-color-2;
    transform: rotate(45deg);
}

.about {
    position: absolute;
    top: 2000px;
    .dragon2 {
        float: left;
        height: 490px;
        width: 685px;
        background: url('../images/red.png');
    }
    .text {
        float: left;
        width: 30%;
        padding: 20px;
        margin: 200px auto;
        h1 {
            padding: 20px 0;
        }
    }
}

.case {
    position: absolute;
    top: 2600px;
    clear: both;
    width: 100%;
}

.poto {
    float: left;
    position: relative;
    z-index: 55;
    width: 12.5%;
    transition: transform .3s .3s, z-index .5s step-end;
    &:hover {
        position: relative;
        z-index: 100;
        transform: scale(2);
        transition: transform .2s, z-index .3s step-start;
    }
}

.connection {
    clear: both;
    margin: 0 auto;
    position: relative;
    top: 1000px;
    h1 {
        text-align: center;
        padding: 10px;
        margin: 0 0 30px 0;
    }
    h4 {
        padding: 10px;
    }
    .form1 {
        text-align: right;
        float: left;
        width: 45%;
        margin: 0 2.5%;
    }
    .form2 {
        float: left;
        width: 45%;
        margin: 0 2.5% 20px;
    }
    .btng {
        clear: both;
        padding: 20px 42%;
    }
}

.footer {
    background: $bg-color-2;
    margin: 50px auto 0;
    position: relative;
    bottom: -1000px;
    .container {
        padding: 40px;
        .context {
            float: left;
        }
        .flogo {
            float: right;
        }
        p {
            clear: both;
        }
    }
}

@include iphone6 {
    .header {
        background: url('../img/header_mobile.png') center right no-repeat;
        .headerbar {
            position: fixed;
            width: 100%;
            z-index: 5;
            .container {
                .bars {
                    float: right;
                    display: block;
                    color: $text-color-1;
                    clear: right;
                    padding: 16px 0;
                }
                .nav {
                    max-height: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: 100;
                    top: 56px;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.9);
                    transition: max-height 1s;
                }
                li {
                    float: none;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
                    a {
                        display: block;
                        padding: 10px 15px 10px 15px;
                    }
                    a:hover {
                        background-color: rgba(111, 111, 111, 0.5);
                        color: $text-color-1;
                    }
                }
            }
        }
    }
}

@include iphone6 {
    body.navshow {
        .header {
            .headerbar {
                .container {
                    .nav {
                        max-height: 500px;
                    }
                }
            }
        }
    }
}

footer {
    clear: both;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;
    text-align: left;
    h3,
    ul {
        text-align: left;
    }
    .ftbox {
        float: left;
        width: 31.3%;
        margin: 5px 1% 20px;
        box-sizing: border-box;
    }
    .about {
        display: block;
        text-align: left;
    }
    h3 {
        margin: 30px 0 16px;
    }
    li {
        line-height: $line-height+ 0.1;
    }
    p {
        font-size: $font-size;
        color: #000;
        line-height: $line-height;
    }
    .community {
        max-width: 245px;
        float: right;
        margin-top: 42px;
        .logof {
            background: $logo-bg-png;
            background: $logo-bg-svg;
            background-size: contain;
            height: 49px;
            width: 245px;
            float: right;
        }
        a.btn {
            width: 31px;
            height: 31px;
            font-size: $font-size+20;
            margin: 22px 6px;
        }
        .google {
            color: #DB4437;
        }
        .twitter {
            color: #41ABE1;
        }
        .fb {
            color: #3A5795;
        }
    }
}

@include pad3 {
    footer {
        .about {
            display: none;
            h3 {
                margin: 20px 0 16px;
            }
            .contact {
                width: 48%;
            }
            .community {
                width: 48%;
                margin-top: 0;
            }
        }
    }
}

@include phone2 {
    footer {
        padding: 0;
        text-align: center;
        h3,
        ul {
            text-align: center;
        }
        .contact {
            width: 98%;
        }
        .community {
            width: 98%;
            max-width: none;
            float: left;
            margin-top: 0;
        }
        .logof {
            float: none;
            margin: 0 auto 10px;
        }
    }
}