<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="css/all.css", rel="stylesheet")
        title WANPIS
    body
        .header
            .round1
            .nav.container 
                ul
                    li 
                        a 服務項目
                    li  
                        a 公司介紹
                    li  
                        a 案例作品
                    li  
                        a 聯絡我們
            .logo
                img(src="images/WANPIS.png")
            .dragon
            .slide
                a
                    img(src="images/slide.png")
        .service.container 
            .bgbox1
            .bgbox2
            .sline
            .hline1.hline
            .service1.card
                img.icon(src="images/logoRBG.png")
                h2 展場互動設計建置
                ul
                    li
                        h4 多螢互動設計
                    li
                        h4 戶外互動設計
                    li
                        h4 體感互動設計
                    li
                        h4 軟硬體整合
                    li
                        h4 互動提案規劃
            .hline2.hline 
            .service2.card
                img.icon(src="images/logoRBG.png")
                h2 AR互動設計建置
                ul
                    li
                        h4 AR互動APP設計
                    li
                        h4 AR大螢幕互動
                    li
                        h4 AR穿戴式裝置整合
                    li
                        h4 AR導購互動系統 
            .hline3.hline
            .service3.card
                img.icon(src="images/logoRBG.png")
                h2 VR互動設計建置
                ul
                    li
                        h4 VR互動APP設計
                    li
                        h4 VR穿戴式裝置整合 
            .hline4.hline
            .service4.card
                img.icon(src="images/logoRBG.png")
                h2 APP設計建置
                ul
                    li
                        h4 iOS程式開發
                    li
                        h4 Android程式開發
                    li
                        h4 LBS定位
                    li
                        h4 iBeacon室內定位技術1234
  
        //- .round2
        .bgbox3
        .about
            .dragon2
            .text
                .h1 關於我們
                .p 關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們
        .case
            img.poto(src="images/case01.jpg", alt="")
            img.poto(src="images/case02.jpg", alt="")
            img.poto(src="images/case03.jpg", alt="")
            img.poto(src="images/case04.jpg", alt="")
            img.poto(src="images/case05.jpg", alt="")
            img.poto(src="images/case06.jpg", alt="")
            img.poto(src="images/case07.jpg", alt="")
            img.poto(src="images/case08.jpg", alt="")
            img.poto(src="images/case09.jpg", alt="")
            img.poto(src="images/case10.jpg", alt="")
            img.poto(src="images/case11.jpg", alt="")
            img.poto(src="images/case12.jpg", alt="")
            img.poto(src="images/case13.jpg", alt="")
            img.poto(src="images/case14.jpg", alt="")
            img.poto(src="images/case15.jpg", alt="")
            img.poto(src="images/case16.jpg", alt="")
            img.poto(src="images/case17.jpg", alt="")
            img.poto(src="images/case18.jpg", alt="")
            img.poto(src="images/case19.jpg", alt="")
            img.poto(src="images/case20.jpg", alt="")
            img.poto(src="images/case21.jpg", alt="")
            img.poto(src="images/case22.jpg", alt="")
            img.poto(src="images/case23.jpg", alt="")
            img.poto(src="images/case24.jpg", alt="")
        .connection
            form(action="")
            h1 聯絡我們
            | 聯絡人 
            input(type="text" placeholder="王小明")
            br
            | 聯絡信箱 
            input(type="text" placeholder="王小明")
            br
            | 聯絡電話
            input(type="text" placeholder="王小明")
            br
            | Line ID
            input(type="text" placeholder="王小明")
            br
            | 製作項目
            input(type="text" placeholder="王小明")
            br
            | 製作預算
            input(type="text" placeholder="王小明")
            br
            | 製作需求說明
            input(type="text" placeholder="王小明")
        .footer
            .context
                |電話/02-8976-3385
                br 
                |信箱/opcWudi@wanpis.com.tw
                br 
                |地址/111台北市士林區後港街96號7樓c室
            img.flogo(src="images/WANPIS.png")

